* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
}

/* Common styles */

.container {
  max-width: 1240px;
  margin: 0 auto;
}

.commonButton {
  border: 1px solid #00b899;
  font-family: "DM Sans", sans-serif;
  color: #fff;
  background-color: #00b899;
  border-radius: 6px;
  font-weight: 700;
  cursor: pointer;
}

.commonButton:hover,
.commonButton:active {
  color: #00b899;
  background-color: rgba(0, 0, 0, 0);
}

.commonHeading {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
}

.commonHeadingSmall {
  color: #7a7a7a;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.03em;
  margin-bottom: 8px;
}

/* Navbar */

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
}

header .navList {
  display: flex;
  align-items: center;
  list-style: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  gap: 40px;
}

header .navList a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
}

header .navList a:hover,
header .navList a:active {
  color: #00b899;
}

.toggle,
.close {
  display: none;
}

.downloadNav a {
  color: #00b899;
  margin: 0 40px 0 92px;
}

.downloadNav button {
  padding: 8px 24px;
  font-size: 16px;
  line-height: 24px;
}

/* banner section */

.banner {
  text-align: center;
  padding: 190px 0;
  position: relative;
  background: linear-gradient(
    180deg,
    #fdf5d8 -64.86%,
    #fffcf3 84.88%,
    rgba(255, 255, 255, 0) 111.07%
  );
  margin-bottom: 50px;
  z-index: 1;
}

.banner h1 {
  max-width: 988px;
  margin: 0 auto 16px auto;
  font-weight: 700;
  font-size: 56px;
  line-height: 70px;
  color: #101118;
}

.webHighlight {
  color: #00b899;
}

.banner p {
  max-width: 625px;
  margin: 0 auto 48px auto;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #717484;
}

.banner button {
  padding: 16px 24px 15px 24px;
  font-size: 20px;
  line-height: 25px;
}

.banner div {
  position: absolute;
  z-index: -1;
}

/* .pizzaWrapper {
  width: 150px;
} */

.chickenWrapper {
  left: 0;
  top: 120px;
}

.tacosWrapper {
  left: 56px;
  width: 144px;
  bottom: 54px;
}
.tacos {
  width: 100%;
}

.burgerWrapper {
  right: 0;
  width: 229px;
  bottom: 75px;
}

.burger {
  width: 100%;
}

.pizzaWrapper {
  top: 140px;
  right: 60px;
  width: 150px;
}

.pizza {
  width: 100%;
}

/* deliveringCities section */

.deliveringCities {
  text-align: center;
  color: #3f3d3d;
  padding-bottom: 50px;
}

.deliveringCities p:first-child {
  color: #717484;
  margin-bottom: 34px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.deliveringCities p:last-child {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.cityWrapper {
  display: flex;
  justify-content: space-around;
  margin-bottom: 48px;
  flex-wrap: wrap;
  padding: 0 20px;
}

.cities {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.cities h3 {
  font-weight: 500;
  font-size: 32px;
  line-height: 44.8px;
}

/* working section */

.working {
  padding-bottom: 100px;
}

.workingHead {
  text-align: center;
  position: relative;
}

.workingHead h3 {
  color: #312f2e;
  max-width: 606px;
  margin: 0 auto 80px auto;
}

.workingHead h3 span::after {
  content: url(/assets/images/underline.svg);
  position: absolute;
  transform: translate(-50%, 35%);
  left: 50%;
}

.workingCardOne,
.workingCardThree {
  display: flex;
  gap: 186px;
  justify-content: center;
  align-items: center;
  background: #effbf8;
  border-radius: 32px;
  /* flex-wrap: wrap; */
}

.workingCardTwo {
  display: flex;
  align-items: center;
  gap: 190px;
  padding-left: 100px;
  margin: 64px 0;
  /* flex-wrap: wrap; */
}

.workingCardDescription h4 {
  font-weight: 700;
  font-size: 32px;
  line-height: 44.8px;
  color: #312f2e;
  margin-bottom: 22px;
  position: relative;
}

.workingCardDescription p {
  font-weight: 500;
  font-size: 16px;
  line-height: 22.4px;
  color: #626262;
}

.workingCardOne img,
.workingCardThree img {
  padding: 72px 125px 0 0;
}

.workingCardOne .workingCardDescription {
  padding: 143px 0 142px 144px;
}
.workingCardTwo .workingCardDescription {
  padding: 38px 132px 119px 0;
}

.workingCardThree .workingCardDescription {
  padding: 171px 0 114px 144px;
}

.workingCard h4::before {
  position: absolute;
  z-index: -1;
  left: -44px;
}

.workingCardOne h4::before {
  content: url("/assets/images/one.svg");
  top: -39px;
}

.workingCardTwo h4::before {
  content: url("/assets/images/two.svg");
  top: -41px;
}

.workingCardThree h4::before {
  content: url("/assets/images/three.svg");
  top: -40px;
}

.workingCardDescription {
  z-index: 0;
}

/* rewards section */

.rewards {
  text-align: center;
  padding: 100px 0 136px 0;
  background-color: rgba(248, 247, 240, 0.6);
}

.rewards h3 {
  color: #312f2e;
  max-width: 606px;
  margin: 0 auto 80px auto;
}

.rewards h3 span::after {
  content: url(/assets/images/underline.svg);
  position: absolute;
  transform: translate(-50%, 32%);
  left: 50%;
}

.rewardDetail {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 169px;
}
.rewardDetailCard {
  max-width: 243px;
}

.rewardDetailCard img {
  margin-bottom: 32px;
}

.rewardDetailCard h4 {
  margin-bottom: 8px;
}

/* Partners section */

.partners {
  text-align: center;
  padding: 100px 20px;
}

.partners h5 {
  margin-bottom: 10px;
}

.partners h3 {
  color: #000;
  max-width: 681px;
  margin: 0 auto 71px auto;
}

.partnerSlider {
  margin-bottom: 64px;
}

.joinAsPartner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
}

.joinAsPartner a {
  color: #00b899;
  text-decoration: none;
}

.joinAsPartner a:hover,
.joinAsPartner a:active {
  text-decoration: underline;
}

.partnersResponsive::after {
  content: url(/assets/images/underline.svg);
  position: absolute;
  transform: translate(-32%, 32%);
  left: 50%;
}

/* downloadApp section */

.downloadApp {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 49px;
  background: #effbf8;
  border-radius: 32px 32px 0px 0px;
  flex-wrap: wrap;
  padding: 100px 20px 0 20px;
}

.appIcons h4 {
  font-weight: 700;
  font-size: 32px;
  line-height: 45px;
  color: #312f2e;
  max-width: 576px;
  margin-bottom: 46px;
}

.appIcons img:first-child {
  margin-right: 24px;
}

.appIconWrapper a {
  display: inline-block;
}

.dualPhonesWrapper {
  display: flex;
}

/* Footer section */

footer {
  background-color: #0d0d0d;
  padding: 72px 0 32px 0;
}

footer ul {
  list-style: none;
}

footer h4 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.footerDetail {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}

.footerDetail p,
.footerDetail a {
  color: #bdbec4;
  font-size: 14px;
  line-height: 22.4px;
  font-weight: 400;
  text-decoration: none;
}

.footerDetail a:hover,
.footerDetail a:active {
  color: #fff;
}

.socialMedia {
  flex-basis: 30%;
}

.socialMedia p {
  max-width: 218px;
  margin-top: 16px;
  margin-bottom: 32px;
}

.socialMediaLogos {
  display: flex;
  gap: 16px;
}

.footerDetail a {
  margin-bottom: 10px;
  display: inline-block;
}

.explore {
  flex-basis: 20%;
}
.quickLinks {
  flex-basis: 20%;
}
.contactUs {
  flex-basis: 30%;
}

.contactUs p:first-child {
  width: 233px;
  margin-bottom: 16px;
}

.contact {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 8px;
}

.policies,
.policies a {
  color: #8f8f8f;
  text-decoration: none;
}

.policies li span {
  margin: 0 12px;
}

.policies {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 12px;
  line-height: 19.2px;
  flex-wrap: wrap;
  gap: 12px;
}

.policies ul {
  display: flex;
  flex-wrap: wrap;
}

.policies .visitLink {
  color: #fff;
}

.visitLink:hover,
.visitLink:active {
  text-decoration: underline;
}

.policies a:hover,
.policies a:active {
  color: #fff;
}

.visitLinkMobile {
  display: none;
}

/* For container padding */
@media only screen and (max-width: 1274px) {
  .container {
    padding: 0 20px;
  }
}

@media only screen and (max-width: 1200px) {
  .chickenWrapper {
    top: 6px;
    left: 0px;
  }

  .pizzaWrapper {
    top: 24px;
    right: 0px;
  }

  .tacosWrapper {
    bottom: 26px;
    left: 9px;
  }

  .burgerWrapper {
    bottom: 26px;
    right: 0;
  }
}

@media only screen and (max-width: 992px) {
  header.active nav {
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }

  header.active {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 2;
  }

  header.active .navList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }

  header.active .downloadNav a {
    display: block;
    margin: 0 0 24px 0;
  }

  header .navList {
    display: none;
  }

  .toggle {
    position: absolute;
    right: 20px;
    display: block;
  }

  .close {
    display: none;
  }

  header.active .toggle {
    display: none;
  }

  header.active .close {
    position: absolute;
    right: 20px;
    transform: translateY(50%);
    display: block;
  }

  /* Working section */

  .workingCardDescription h4 {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 16px;
  }

  .workingCardDescription p {
    font-weight: 400;
    font-size: 14px;
    line-height: 22.4px;
  }

  .workingCardOne,
  .workingCardThree {
    flex-direction: column;
    gap: 48px;
  }

  .workingCardTwo {
    flex-direction: column-reverse;
  }

  .workingCardOne .workingCardDescription,
  .workingCardThree .workingCardDescription {
    padding: 48px 20px 0px 42px;
  }

  .workingCardOne img,
  .workingCardThree img {
    padding: 0;
  }

  .workingCardTwo {
    padding: 0;
    gap: 48px;
  }

  .workingCardTwo .workingCardDescription {
    padding: 18px 23px 0 42px;
  }

  .workingCard h4::before {
    top: -18px;
    background-repeat: no-repeat;
    content: "";
    left: -22px;
  }

  .workingCardOne h4::before {
    background-image: url("/assets/images/one.svg");
    width: 35px;
    height: 126px;
    background-size: 35px 67px;
  }

  .workingCardTwo h4::before {
    background-image: url("/assets/images/two.svg");
    width: 42px;
    height: 126px;
    background-size: 42px 67px;
  }

  .workingCardThree h4::before {
    background-image: url("/assets/images/three.svg");
    width: 43px;
    height: 126px;
    background-size: 43px 67px;
  }

  /* downloadApp section */

  .downloadApp {
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  .banner {
    padding: 86px 0;
  }

  .banner h1,
  .banner p {
    padding: 0 20px;
  }

  .banner h1 {
    font-size: 32px;
    line-height: 44.8px;
    margin: 0 auto 12px auto;
  }

  .banner p {
    font-size: 14px;
    line-height: 22px;
    margin: 0 auto 40px auto;
  }

  .banner button {
    padding: 11.5px 20px;
    font-size: 14px;
    line-height: 21px;
  }

  .webHighlight {
    color: #101118;
  }

  .resHighlight {
    color: #00b899;
  }

  .commonHeading {
    font-size: 24px;
    line-height: 33.6px;
  }

  .cities h3 {
    font-size: 18px;
    line-height: 25.2px;
  }

  /* working section */

  .working {
    padding-bottom: 64px;
  }

  .workingHead h3 span::after {
    content: url(/assets/images/responsiveUnderline.svg);
    transform: translate(-42%, 30%);
    left: 50%;
  }

  .workingHead h3 span {
    display: block;
  }

  .workingHead h3 {
    max-width: 320px;
    margin-bottom: 51px;
  }

  .phoneWrapper {
    max-width: 218px;
  }

  .workingCard img {
    width: 100%;
  }

  .chickenWrapper {
    max-width: 76px;
  }

  .chicken {
    width: 100%;
  }

  .pizzaWrapper,
  .tacosWrapper {
    max-width: 64px;
  }

  .burgerWrapper {
    max-width: 84px;
  }

  /* Rewards section */

  .rewards {
    padding: 64px 0;
  }

  .rewards h3 {
    margin-bottom: 51px;
  }

  .rewards h3 span::after {
    content: url(/assets/images/responsiveUnderline.svg);
    transform: translate(-42%, 32%);
  }

  .rewards h3 span {
    display: block;
  }

  .rewardDetail {
    gap: 40px;
  }

  /* Partners */

  .partners {
    padding: 64px 20px;
  }

  .partners h3 {
    margin-bottom: 43px;
  }

  .partnersResponsive {
    display: block;
  }

  .partnerSlider {
    margin-bottom: 40px;
  }

  .partnersResponsive::after {
    content: url(/assets/images/thanksToUnderline.svg);
    transform: translate(-50%, 32%);
  }

  /* downloadApp section */

  .downloadApp {
    padding-top: 48px;
  }

  .dualPhonesWrapper {
    max-width: 258px;
  }

  .dualPhones {
    width: 100%;
  }

  .appIconWrapper img {
    max-width: 99px;
  }

  /* Footer policy */

  .socialMedia {
    flex-basis: 100%;
  }

  .explore {
    flex-basis: 50%;
  }

  .quickLinks {
    flex-basis: 50%;
  }

  .contactUs {
    flex-basis: 100%;
  }

  .footerDetail {
    margin-bottom: 45px;
    flex-wrap: wrap;
    row-gap: 48px;
  }

  .policies {
    flex-direction: column;
  }

  .visitLinkMobile {
    display: block;
    color: #fff;
    text-decoration: none;
    margin-bottom: 32px;
  }

  .visitLinkMobile:hover,
  .visitLinkMobile:active {
    text-decoration: underline;
  }

  .policies span,
  .visitLink {
    display: none;
  }

  .policies ul {
    flex-direction: column;
    gap: 12px;
  }
}

/* For underline */
@media only screen and (max-width: 333px) {
  .workingHead h3::after,
  .rewards h3::after {
    top: 50%;
    transform: translate(-50%, 115%);
    left: 50%;
  }
}
